<html>
    <head>
        <meta charset="utf-8">
        <title>Ekle || <%=title%></title>
        <link rel="stylesheet" href="style/styles.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
<html>
    <body>
        <div class="box">
            <form action="add2" method="POST">
                <div class="inputBox">
                    <input type="text" name="text1" required="">
                    <label>Film</label>
                </div>
                <div class="inputBox">
                    <input type="text" name="text2" required="">
                    <label>Replik</label>
                </div>
                <div class="inputBox">
                    <input type="text" name="text3" required="">
                    <label>Ekleyen</label>
                </div>
                <input type="submit" class="neon-button"value="Ekle!"></a>
            </form>
        </div>
        <a href="index"><img id="img" src="img/Back-App-Arrow-Application-Button-Design-1646213.png" alt=""></a>
    </body>
</html>
